@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: linear-gradient(
    to right top,
    #212529,
    #24292d,
    #282d31,
    #2b3136,
    #2f353a,
    #32383e,
    #363c42,
    #393f46,
    #3d434a,
    #41474e,
    #454c53,
    #495057
  );
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 40px;
}

.song-row img {
  width: 120px;
  height: auto;
}

@media screen and (max-width: 820px) {
  .playlist-stats span {
    font-size: 1rem;
  }
  .headerAlbum {
    margin-left: 220px;
  }
  .songAlbum {
    margin-left: 100px;
  }
}

@media screen and (max-width: 430px) {
  .playlist-image {
    display: none;
  }
  .playlist-info {
    padding-left: 0px;
  }
  .playlist-info span {
    font-size: 1rem;
  }
  .headerAlbum {
    display: none;
  }
  .headerDuration {
    display: none;
  }
  .search-input {
    display: none;
  }
  .customButton {
    display: none;
  }
  .song-row img {
    width: 80px;
  }
  .songAlbum {
    display: none;
  }
  .songDuration {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .playlist-info p {
    font-size: 0.9rem;
  }
  .playlist-stats span {
    font-size: 0.8rem;
  }
  .songNumber {
    display: none;
  }
}
