@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: linear-gradient(
    to right top,
    #212529,
    #24292d,
    #282d31,
    #2b3136,
    #2f353a,
    #32383e,
    #363c42,
    #393f46,
    #3d434a,
    #41474e,
    #454c53,
    #495057
  );
  height: auto;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.song-row img {
  width: 120px;
  height: auto;
}

@media screen and (max-width: 430px) {
  .song-row img {
    width: 80px;
  }
  .playlist-image {
    display: none;
  }
  .playlist-info {
    padding-left: 0px;
  }
  .playlist-info span {
    font-size: 1rem;
  }
  .songAlbum {
    display: none;
  }
  .songDuration {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .songNumber {
    display: none;
  }
}
